# .streamlit/secrets.toml.example
# Copiez ce fichier en secrets.toml et renseignez vos valeurs.
# Sur Streamlit Cloud, configurez ces variables dans l'onglet "Secrets" de l'application.

MONGO_URI   = "mongodb://mongodb:27017"
MONGO_DB    = "disinformation_db"
ES_HOST     = "http://elasticsearch:9200"
API_BASE    = "http://api:8000"
REFRESH_SEC = "30"
